/* Acá va tu código */
body{
    font-family: 'Roboto';
    color: 333333;
    font-size: 24pt;
}

.logo{
    width: 15%;
    margin: 1%;
}

a{
    text-decoration: none;
    color: white;
    font-weight: 700;
}

a:active a:visited a:hover{
    text-decoration: none;
    color: white;
    font-weight: 700;
}

.boton-sesion{
    background-color:#303669;
    outline: none;
    border: none;
    color: white;
    font-size: 0.4em;
    font-weight: 500;
    width: 10%;
    padding: 1%;
    border-radius: 30px;
    position: absolute;
    top:4%;
    right: 2%;

}

.boton-sesion{
    background-image: linear-gradient(to right, rgb(255,117,117), rgb(255,212,85));
}

.contenedor-mensaje{
    display: flex;
    flex-direction: column;
    margin: 5%;
    width: 100%;
}

h2{
    font-size: 0.5em;
    color:#303669;
    margin: 0 5% 1% 15%;
}

.contenedor-texto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 5%;
    width: 100%;
}

.caja-de-texto{
    border: white;
    resize: none;
    outline: none;
    box-shadow: 0px 0px 19px -9px rgba(181,181,181,1);
    border-radius: 10px;
    padding: 3%;
    font-size: 0.5em;
    color: #333333;
}

.contenedor-botones{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 0 0 0 10%;
    justify-content: center;

}

.caja-offset{
    width: 25%;
    outline: none;
    margin: 0 0 3% 0;
    font-size: 0.4em;
    padding: 2%;
    border: none;
    border-bottom: 2px solid #303669;
    color:  #303669;
    font-weight: 700;
}

.boton{
    background-color: #303669;
    outline: none;
    border: none;
    color: white;
    font-size: 0.4em;
    font-weight: 500;
    width: 30%;
    margin: 3% 0 3% 0;
    padding: 2%;
    border-radius: 5px;

}

.boton:hover{
    background-image: linear-gradient(to right, rgb(255,117,117), rgb(255,212,85));
}

.footer{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    justify-content: space-between;
    width: 25%;
    margin: 5% 0 5% 2%;
    position: bottom left;
}

li{
    color:#303669;
    list-style: none;
    font-size: 0.45em;
    font-weight: medium;
}

li:hover{
    color:#ff7575;
}


.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(48, 54, 105, 0.9);
    transition: opacity 200ms;
    visibility: hidden;
    opacity: 0;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}
#pop-up{
    display: flex;
    justify-content: center;
}
#contenido-popup{
    width: 40%;
    height: 40%;
    padding: 2%;
    margin: auto;
    border-radius: 15px;
    border:none;
    box-shadow: 0 0 10px rgb(1, 5, 29);
    background: #FFF;
    transition: all 5s ease-in-out;  
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.respuesta-mensaje{
    color:grey;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
}

#cerrar{
    justify-content: center;
    background-color:#303669;
    outline: none;
    border: none;
    color: white;
    font-size: 0.4em;
    font-weight: 500;
    width: 30%;
    margin: auto auto 3% auto;
    padding: 2%;
    border-radius: 5px;
}

#cerrar:hover{
    background-image: linear-gradient(to right, rgb(255,117,117), rgb(255,212,85));
}
.candado{
    height: 20%;
    margin: auto;
}